html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* grid-template-columns: 20% 40% 40%; */
}

#status {
  display: flex;
  align-items: center;
  justify-content: right; 
  flex-direction: row;
}

img {
  display: flex;
  border-radius: 50%;
}

#occupation {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
  flex-wrap: wrap;
}

#offer {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  #brand {
    display: none;
  
  }
}