html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: darkgreen;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  border: 1px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  display: flex;
  border: 1px solid red;
  width: 100%;
}

#contact p {
  width: 50%;
  border: 1px dotted blue;
  text-align: center;
  padding: 25px;
  margin: 0px;
  background-color: limegreen;
  grid-area: contact;
}

#offer {
  grid-area: offer;
}

#contact p:first-child {
  background-color: rgb(66, 225, 66);
}

#occupation {
  background-color: rgb(211, 211, 211);
  width: 100%;
  text-align: center;
  grid-area: occupation;
}

#brand {
  display: none;
  grid-area: brand;
  border-left: 2px solid palegreen;
}

#status {
  margin-left: auto;
  padding: 5px;
  grid-area: status;
  width: 100%;
}

#name {
  grid-area: name;
}

img {
  border-radius: 50%;
  border: 3px solid rgb(97, 211, 97);
  grid-area: img;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  main {
    width: 700px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
      'status name'
      'img occupation'
      'img brand'
      'contact offer';
  }
  #brand {
    display: flex;
  }
}